In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
happy_2015 = "Resources/2015.csv"
happy_2016 = "Resources/2016.csv"
happy_2017 = "Resources/2017.csv"
happy_2018 = "Resources/2018.csv"
happy_2019 = "Resources/2019.csv"

happy_2015_df = pd.read_csv(happy_2015)
happy_2016_df = pd.read_csv(happy_2016)
happy_2017_df = pd.read_csv(happy_2017)
happy_2018_df = pd.read_csv(happy_2018)
happy_2019_df = pd.read_csv(happy_2019)

In [7]:
# JOIN THE DATA

#Create joins to merge file into single dataframe, with an added column for year

for row in happy_2015:
    happy_2015_df['Year'] = "2015"
    happy_2016_df['Year'] = "2016"
    happy_2017_df['Year'] = "2017"
    happy_2018_df['Year'] = "2018"
    happy_2019_df['Year'] = "2019"

happy_2018_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [11]:
# happy_2015_df.columns

In [21]:
# happy_2016_df.columns
# happy_2017_df.columns
# happy_2018_df.columns
# happy_2019_df.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual', 'Year'],
      dtype='object')

In [13]:
#Remove unused columns not common across datasets
happy_16_cleaned = happy_2016_df.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval'])
happy_17_cleaned = happy_2017_df.drop(columns=['Whisker.high','Whisker.low'])
happy_18_cleaned = happy_2018_df.drop(columns=['Social support'])
happy_19_cleaned = happy_2019_df.drop(columns=['Social support'])

In [25]:
#Rename columns to match across datasets
happy_17_cleaned = happy_17_cleaned.rename(columns={"Happiness.Rank": "Happiness Rank", "Happiness.Score": "Happiness Score", "Economy..GDP.per.Capita.": "Economy (GDP per Capita)", "Health..Life.Expectancy.": "Health (Life Expectancy)", "Trust..Government.Corruption.":"Trust (Government Corruption)", "Dystopia.Residual":"Dystopia Residual" })
happy_18_cleaned = happy_18_cleaned.rename(columns={"Overall rank": "Happiness Rank", "Score": "Happiness Score", "GDP per capita":"Economy (GDP per Capita)", "Healthy life expectancy":"Health (Life Expectancy)", "Freedom to make life choices":"Freedom","Perceptions of corruption":"Trust (Government Corruption)"})
happy_19_cleaned = happy_19_cleaned.rename(columns={"Overall rank": "Happiness Rank", "Score": "Happiness Score", "GDP per capita":"Economy (GDP per Capita)", "Healthy life expectancy":"Health (Life Expectancy)", "Freedom to make life choices":"Freedom","Perceptions of corruption":"Trust (Government Corruption)"})

In [24]:
# happy_18_cleaned.columns

Index(['Happiness Rank', 'Country or region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom',
       'Generosity', 'Perceptions of corruption', 'Year'],
      dtype='object')

In [16]:
#Adding Regions to datasets missing information
#Will need to slice 2018 & 2019, where region and country are combined

In [26]:
# Merge two dataframes using an outer join
# df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")


happy1516 = happy_2015_df.append(happy_16_cleaned)
happy151617 = happy1516.append(happy_17_cleaned)
happy15161718 = happy151617.append(happy_18_cleaned)
full_data_df = happy15161718.append(happy_19_cleaned)

full_data_df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year,Country or region
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,NaN,NaN,152,3.334,NaN,0.35900,NaN,0.61400,0.55500,0.41100,0.21700,NaN,2019,Rwanda
152,NaN,NaN,153,3.231,NaN,0.47600,NaN,0.49900,0.41700,0.14700,0.27600,NaN,2019,Tanzania
153,NaN,NaN,154,3.203,NaN,0.35000,NaN,0.36100,0.00000,0.02500,0.15800,NaN,2019,Afghanistan
154,NaN,NaN,155,3.083,NaN,0.02600,NaN,0.10500,0.22500,0.03500,0.23500,NaN,2019,Central African Republic
155,NaN,NaN,156,2.853,NaN,0.30600,NaN,0.29500,0.01000,0.09100,0.20200,NaN,2019,South Sudan

In [ ]:
#CLEAN THE DATA: Aline, Susan

#Inspect columns to see if row counts match up
#Is object type pulling in as number? If not, change to numbers
#Run a groupby for country to check for typos
#Check for and handle NaN and null fields *as appropriate*

In [ ]:
#CREATE DATAFRAMES: 

# DF Set 1: Meghan, Tom
#Happiness score, country name, GDP -- calculate correlation coefficient and pull into df
#Generosity, country name, GDP -- calculate correlation coefficient and pull into df

# DF Set 2: James, Aline
#Life expectancy, corruption, freedom
#life expectancy, happiness, GDP -- chaos ensues

In [ ]:
#BINNING?

#Happiness rank, top 10?

In [ ]:
#Bar graph/stacked bar graph of happiness percentage change over time?