In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
happy_2015 = "Resources/2015.csv"
happy_2016 = "Resources/2016.csv"
happy_2017 = "Resources/2017.csv"
happy_2018 = "Resources/2018.csv"
happy_2019 = "Resources/2019.csv"

happy_2015_df = pd.read_csv(happy_2015)
happy_2016_df = pd.read_csv(happy_2016)
happy_2017_df = pd.read_csv(happy_2017)
happy_2018_df = pd.read_csv(happy_2018)
happy_2019_df = pd.read_csv(happy_2019)

In [3]:
# JOIN THE DATA

#Create joins to merge file into single dataframe, with an added column for year
happy_2015_df['Year'] = "2015"
happy_2016_df['Year'] = "2016"
happy_2017_df['Year'] = "2017"
happy_2018_df['Year'] = "2018"
happy_2019_df['Year'] = "2019"

In [4]:
happy_2018_df.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [5]:
# happy_2016_df.columns
# happy_2017_df.columns
# happy_2018_df.columns
# happy_2019_df.columns

In [6]:
#Remove unused columns not common across datasets
happy_15_cleaned = happy_2015_df.drop(columns=['Standard Error', 'Family', 'Dystopia Residual'])
happy_16_cleaned = happy_2016_df.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval', 'Family', 'Dystopia Residual'])
happy_17_cleaned = happy_2017_df.drop(columns=['Whisker.high','Whisker.low', 'Family', 'Dystopia.Residual'])
happy_18_cleaned = happy_2018_df.drop(columns=['Social support'])
happy_19_cleaned = happy_2019_df.drop(columns=['Social support'])

#Remove Standard Error
#drop family
#drop Dystopia Residual

In [7]:
#Rename columns to match across datasets
happy_17_cleaned = happy_17_cleaned.rename(columns={"Happiness.Rank": "Happiness Rank", "Happiness.Score": "Happiness Score", "Economy..GDP.per.Capita.": "Economy (GDP per Capita)", "Health..Life.Expectancy.": "Health (Life Expectancy)", "Trust..Government.Corruption.":"Trust (Government Corruption)", "Dystopia.Residual":"Dystopia Residual" })
happy_18_cleaned = happy_18_cleaned.rename(columns={"Overall rank": "Happiness Rank", "Score": "Happiness Score", "GDP per capita":"Economy (GDP per Capita)", "Healthy life expectancy":"Health (Life Expectancy)", "Freedom to make life choices":"Freedom","Perceptions of corruption":"Trust (Government Corruption)", "Country or region":"Country"})
happy_19_cleaned = happy_19_cleaned.rename(columns={"Overall rank": "Happiness Rank", "Score": "Happiness Score", "GDP per capita":"Economy (GDP per Capita)", "Healthy life expectancy":"Health (Life Expectancy)", "Freedom to make life choices":"Freedom","Perceptions of corruption":"Trust (Government Corruption)", "Country or region":"Country"})

In [8]:
happy_15_cleaned.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom',
       'Trust (Government Corruption)', 'Generosity', 'Year'],
      dtype='object')

In [9]:
#Adding Regions to datasets missing information
#2018 & 2019 only contain countries, not regions. If we aren't using regions, remove them. 
#If we are, then add a for loop to add region based on country

In [11]:
# Merge two dataframes using an outer join
# df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")


happy1516 = happy_15_cleaned.append(happy_16_cleaned)
happy151617 = happy1516.append(happy_17_cleaned)
happy15161718 = happy151617.append(happy_18_cleaned)
full_data_df = happy15161718.append(happy_19_cleaned)

full_data_df

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,Western Europe,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,Western Europe,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,Western Europe,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,Western Europe,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,North America,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,NaN,152,3.334,0.35900,0.61400,0.55500,0.41100,0.21700,2019
152,Tanzania,NaN,153,3.231,0.47600,0.49900,0.41700,0.14700,0.27600,2019
153,Afghanistan,NaN,154,3.203,0.35000,0.36100,0.00000,0.02500,0.15800,2019
154,Central African Republic,NaN,155,3.083,0.02600,0.10500,0.22500,0.03500,0.23500,2019
155,South Sudan,NaN,156,2.853,0.30600,0.29500,0.01000,0.09100,0.20200,2019

In [13]:
#CLEAN THE DATA: Aline, Susan

#Inspect columns to see if row counts match up
#Is object type pulling in as number? If not, change to numbers
#Run a groupby for country to check for typos
#Check for and handle NaN and null fields *as appropriate*

null_values = full_data_df.isnull()
row_has_NaN = null_values.any(axis=1)
rows_with_NaN = full_data_df[row_has_NaN]

print(rows_with_NaN)

#Only NaN value is row 19 - UAE corruption. Will scrub row from corruption DF.

                      Country Region  Happiness Rank  Happiness Score  \
0                      Norway    NaN               1            7.537
1                     Denmark    NaN               2            7.522
2                     Iceland    NaN               3            7.504
3                 Switzerland    NaN               4            7.494
4                     Finland    NaN               5            7.469
..                        ...    ...             ...              ...
151                    Rwanda    NaN             152            3.334
152                  Tanzania    NaN             153            3.231
153               Afghanistan    NaN             154            3.203
154  Central African Republic    NaN             155            3.083
155               South Sudan    NaN             156            2.853

     Economy (GDP per Capita)  Health (Life Expectancy)   Freedom  \
0                    1.616463                  0.796667  0.635423
1                    1.482383                  0.792566  0.626007
2                    1.480633                  0.833552  0.627163
3                    1.564980                  0.858131  0.620071
4                    1.443572                  0.809158  0.617951
..                        ...                       ...       ...
151                  0.359000                  0.614000  0.555000
152                  0.476000                  0.499000  0.417000
153                  0.350000                  0.361000  0.000000
154                  0.026000                  0.105000  0.225000
155                  0.306000                  0.295000  0.010000

     Trust (Government Corruption)  Generosity  Year
0                         0.315964    0.362012  2017
1                         0.400770    0.355280  2017
2                         0.153527    0.475540  2017
3                         0.367007    0.290549  2017
4                         0.382612    0.245483  2017
..                             ...         ...   ...
151                       0.411000    0.217000  2019
152                       0.147000    0.276000  2019
153                       0.025000    0.158000  2019
154                       0.035000    0.235000  2019
155                       0.091000    0.202000  2019

[467 rows x 10 columns]

In [ ]:
#How many years does the country exist in the data?
full_data_df["Country"].value_counts()

In [ ]:
#pulling list of country names to find name differences between years

full_data_df['Country'] = full_data_df.replace({"Trinidad & Tobago": "Trinidad and Tobago", 
                                                "Taiwan Province of China": "Taiwan",
                                                "Somaliland region": "Somaliland Region",
                                                "Hong Kong S.A.R., China": "Hong Kong",
                                                "North Cyprus": "Northern Cyprus"})
                                                


full_data_df.sort_values(by='Country')
df_unique = full_data_df['Country'].unique()
alpha = pd.DataFrame(df_unique)
alpha = alpha.sort_values(by=0, ascending = True)
pd.set_option("display.max_rows", None)
alpha

In [ ]:
#Rename columns to match across datasets
full_data_df

In [23]:
# for x in Country:
#     if region = "NaN":
#         if year = "2018"

country_regions = pd.DataFrame(full_data_df.groupby('Country').first()[["Region"]].reset_index())
full_data_df = pd.merge(full_data_df.drop("Region", axis = 1), country_regions, how = "left")
#first command, grab first region, then do a merge and take first region and overwrite what is currentl there
#will create df of just country and region
full_data_df

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year,Region
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015,Western Europe
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015,Western Europe
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015,Western Europe
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015,Western Europe
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015,North America
...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,152,3.334,0.35900,0.61400,0.55500,0.41100,0.21700,2019,Sub-Saharan Africa
778,Tanzania,153,3.231,0.47600,0.49900,0.41700,0.14700,0.27600,2019,Sub-Saharan Africa
779,Afghanistan,154,3.203,0.35000,0.36100,0.00000,0.02500,0.15800,2019,Southern Asia
780,Central African Republic,155,3.083,0.02600,0.10500,0.22500,0.03500,0.23500,2019,Sub-Saharan Africa
781,South Sudan,156,2.853,0.30600,0.29500,0.01000,0.09100,0.20200,2019,Sub-Saharan Africa

In [ ]:
#CREATE DATAFRAMES: 

# DF Set 1: Meghan, Tom
#Happiness score, country name, GDP -- calculate correlation coefficient and pull into df
#Generosity, country name, GDP -- calculate correlation coefficient and pull into df

# DF Set 2: James, Aline
#Life expectancy, corruption, freedom
#life expectancy, happiness, GDP -- chaos ensues

In [ ]:
#BINNING?

#Happiness rank, top 10?

In [ ]:
#Bar graph/stacked bar graph of happiness percentage change over time?
#If we want to only show countries with 5 years of data, remove those without 5 years of data